<launch>
	<machine name="upper_pi" address="upper_pi" user="upperpi" password="mcgreen" timeout="10" env-loader="~/upper_ws/devel/remote_env_loader.sh"/>
	<node machine="upper_pi" name="Remote_Control_Receiver" pkg="mcgreen" type="remote_control_receiver.py">
		<param name="rate" value="50"/>
	</node>
	<node machine="upper_pi" name="Face_Controller" pkg="mcgreen" type="face_controller.py"></node>
	<machine name="lower_pi" address="lower_pi" user="lowerpi" password="mcgreen" timeout="10" env-loader="~/lower_ws/devel/remote_env_loader.sh"/>
	<group ns="Sensors">
		<param name="rate" value="50"/>
		<param name="default_ultra" value="80"/>
		<param name="threshold_ultra" value="40"/>
		<node machine="lower_pi" name="Right_Arm_Sensor" pkg="mcgreen" respawn="true" type="arm_sensor.py">
			<param name="topic" value="/right_arm_sensor"/>
			<param name="trigger" value="11"/>
			<param name="echo" value="13" />
		</node>
		<node machine="lower_pi" name="Left_Arm_Sensor" pkg="mcgreen" respawn="true" type="arm_sensor.py">
			<param name="topic" value="/left_arm_sensor"/>
			<param name="trigger" value="3"/>
			<param name="echo" value="5" />
		</node>
	</group>
	<node machine="lower_pi" name="OLED_Screen_Controller" pkg="mcgreen" type="oled_screen_controller.py">
		<param name="rate" value="10" type="int"/>
	</node>
	<node name="Mode_Select" pkg="mcgreen" respawn="true" type="mode_select.py" />
	<node name="Movement_Output" pkg="mcgreen" respawn="true" type="movement_output.py" >
		<param name="rate" value="50" type="int"/>
	</node>
	<node name="Remote_Sensors_Processor" pkg="mcgreen" respawn="true" type="remote_sensors_processor.py">
		<param name="rate" value="100" type="int"/>
	</node>
	<node name="Display_Controller" pkg="mcgreen" type="display_controller.py"/>
</launch>